configuration {
    show-icons: true;
}

* {
    font: "JetBrains Mono 11";
    bg: rgba(0, 0, 0, 0.7);
    bg-alt: rgba(17, 17, 17, 0.7);
    fg: rgba(255,255,255,1);
    fg-alt: #bdbdbd;
    selected: rgba(255,255,255,0.5);
    selected-fg: #000000;
    active: #333333;
    urgent: #555555;
    border-radius: 18px;
}

window {
    transparency: "real";
    width: 1500px;
    background-color: @bg;
    border: 0;
    border-radius: 22px;
    padding: 28px;
}

mainbox {
    spacing: 22px;
    background-color: transparent;
}


listview {
    columns: 5;
    lines: 1;
    cycle: true;
    scrollbar: false;
    spacing: 18px;
    layout: vertical;
    background-color: transparent;
}

element {
    orientation: vertical;
    padding: 14px;
    border-radius: 18px;
    background-color: transparent;
}

element normal.normal {
    background-color: transparent;
    text-color: @fg;
}

element selected.normal {
    background-color: @selected;
    text-color: @fg;
}

element-icon {
    size: 230px;
    background-color: transparent;
}

element-text {
    background-color: transparent;
    horizontal-align: 0.5;
    margin: 10px 0 0 0;
    text-color: inherit;
    text-color: @fg;
}

scrollbar {
    enabled: false;
}
