/**
 * OFFWHITE / WHITE THEME
**/

* {
    font:                        "JetBrains Mono Nerd Font 10";
    background:                  #D0D0D0EE;
    background-alt:              #E9E9E9E6;
    foreground:                  #161616E6;
    selected:                    #BEBEBEE6;
    active:                      #999999E6;
    urgent:                      #808080E6;
}
