/**
 * App Launcher
 * Blackout Theme
 */

configuration {
    show-icons: true;
}

* {
    font: "JetBrains Mono 11";

    background:              #1E1D2FE6;
    background-alt:          #282839FF;
    foreground:              #D9E0EEFF;
    foreground-alt:          #D9E0EE99;
    selected:                #B4BEFEE6;
    selected-foreground:     #1E1D2F;
    active:                  #ABE9B3E6;
    urgent:                  #F28FADE6;
}


window {
    transparency: "real";
    width: 1500px;
    background-color: @background;
    border: 0;
    border-radius: 22px;
    padding: 28px;
}


mainbox {
    spacing: 22px;
    background-color: transparent;
}


listview {
    columns: 5;
    lines: 1;
    cycle: true;
    scrollbar: false;
    spacing: 18px;
    layout: vertical;
    background-color: transparent;
}


element {
    orientation: vertical;
    padding: 14px;
    border-radius: 18px;
    background-color: transparent;
}


element normal.normal {
    background-color: transparent;
    text-color: @foreground;
}


element selected.normal {
    background-color: @selected;
    text-color: @foreground;
}


element-icon {
    size: 230px;
    background-color: transparent;
}


element-text {
    background-color: transparent;
    horizontal-align: 0.5;
    margin: 10px 0 0 0;
    text-color: inherit;
    text-color: @foreground;
}


scrollbar {
    enabled: false;
}
