* {
    font: "JetBrains Mono 13";
    g-spacing: 10px;
    g-margin: 0;
    b-radius: 8px;
    g-padding: 8px;
    w-border: 1px solid;
    w-padding: 12px;
    rosewater: #f5e0dc;
    flamingo: #f2cdcd;
    pink: #f5c2e7;
    mauve: #cba6f7;
    red: #f38ba8;
    maroon: #eba0ac;
    apeach: #fab387;
    yellow: #f9e2af;
    green: #a6e3a1;
    teal: #94e2d5;
    sky: #89dceb;
    sapphire: #74c7ec;
    blue: #89b4fa;
    lavender: #b4befe;
    text: #cdd6f4f2;
    subtext1: #bac2decc;
    subtext0: #a6adc8cc;
    overlay2: #9399b2cc;
    overlay1: #7f849ccc;
    overlay0: #6c7086cc;
    surface2: #585b70cc;
    surface1: #45475acc;
    surface0: #313244cc;
    base: #1e1e2ecc;
    mantle: #181825cc;
    crust: #11111bcc;
}

configuration {
    modi: "drun";
    show-icons: false;
    display-drun: "";
}

listview {
    columns: 1;
    lines: 7;
    fixed-height: true;
    fixed-columns: true;
    cycle: false;
    scrollbar: false;
    border: 0px solid;
}

window {
    transparency: "real";
    width: 450px;
    border-radius: @b-radius;
    background-color: @crust;
    border: @w-border;
    border-color: @text;
    padding: @w-padding;
}

prompt {
    text-color: @base;
}

inputbar {
    children: ["prompt", "entry"];
    spacing: @g-spacing;
    border-radius: @b-radius;
    border: @w-border;
    border-color: @text;
    padding: 10px;
}

entry {
    placeholder: "Search Apps";
    text-color: @overlay1;
    placeholder-color: @surface0;
}

mainbox {
    spacing: @g-spacing;
    margin: @g-margin;
    padding: @g-padding;
    children: ["inputbar", "listview", "message"];
}

element {
    spacing: @g-spacing;
    margin: @g-margin;
    padding: @g-padding;
    border: 0px solid;
    border-radius: @b-radius;
    border-color: @mantle;
    background-color: transparent;
    text-color: @text;
}

element normal.normal {
	background-color: transparent;
	text-color: @overlay1;
}

element alternate.normal {
	background-color: transparent;
	text-color: @overlay1;
}

element selected.active {
	background-color: @crust;
	text-color: @text;
	border-color: @mantle;
}

element selected.normal {
	background-color: @overlay1;
	text-color: @text;
}

message {
    background-color: @red;
    border: 0px solid;
}
